/* Hello, this is a .css file, it changes the look of the website.
if your goal was to edit the leements in the webiste to make funny screenshots thats actually in the .html files.
otherwise, cheers mate! */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mozilla Text", "Arial", system-ui;

    background-color: white;
    color: black;

    min-width: 600;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;


}

.site-header {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;

    font-family: "Mozilla Headline", "Mozilla Text", "Arial", system-ui;
}

.site-header h1 {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 50px;
}

.site-header p {
    margin-top: 0;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.site-nav {
    background-color: #333;
    color: white;

    padding-right: 1rem;
    padding-left: 1rem;
    margin: 1rem 0;

}

.site-nav ul {
    background-color: transparent;
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-nav li {
    background-color: #1b1b1b;
    flex: 1;
    max-width: 20rem;
    border-right: 1px solid white;
}

.site-nav li:first-child {
    border-left: 1px solid white;
}

.site-nav a {
    color: white;
    text-decoration: none;
    text-align: center;

    display: block;
    padding: 0.5rem 1rem;
}

.site-nav [aria-current] a {
    background: #07b;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
}

.object-list {
    background-color: rgb(238, 238, 238);
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.object-list ul {
    background-color: grey;
    list-style-type: none;
    padding: 0;
    
    border: 2px solid rgb(53, 53, 53);
}

.object-list ul li {
    padding: 10px;
}

.object-list ul li:nth-child(odd) {
    background-color: rgb(83, 83, 83);
}

.object-list ul li:nth-child(even) {
    background-color: rgb(53, 53, 53);
}

.object-list ul li {
    color: white;
}

.object-list ul li a {
    color: white;
}

.site-footer ul {
    background-color: #333;
    color: white;

    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin: 0;
}

.site-footer ul li a {
    color: white;
}

/* ------------------------------------------------ */

.warning-quote {
    background-color: rgb(236, 235, 235);
    padding: 1rem;

    border-left: 5px solid darkred;
}

.quote {
    background-color: rgb(236, 235, 235);
    padding: 1rem;

    border-left: 5px solid steelblue;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



/* ------------------------------------------------ */


.mozilla-text {
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.mozilla-headline {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}